---
interface NavItem {
  label: string;
  href: string;
  icon: string;
}

const navItems: NavItem[] = [
  {
    label: "หน้าแรก",
    href: "#home",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier">
    <path style="fill:#91E713;" d="M0.003,152.104c97.186,0,176.109,78.785,176.109,175.97v55.991l0,0 c-15.364,15.364-23.996,36.203-23.996,57.932v30.054c0,13.252-10.744,23.996-23.996,23.996l0,0V328.075 c0-70.681-57.44-128.037-128.12-128.037L0.003,152.104z"></path> <path style="fill:#FFFFFF;" d="M152.116,448.055l0.225-0.225c0,31.047-25.168,56.215-56.215,56.215H64.131h295.951 c54.252,0,97.991-45.01,95.913-99.723c-1.877-49.41-42.763-90.297-92.173-92.173c-54.714-2.078-99.723,41.661-99.723,95.913v23.996 c0-30.923-25.068-55.991-55.991-55.991s-55.991,25.068-55.991,55.991v15.997H152.116z"></path> <path style="fill:#FFD200;" d="M0.003,104.112c123.297,0,224.652,100.272,224.652,223.962v47.992l-48.065,7.999v-55.99 c0-97.185-78.367-175.97-176.587-175.97C0.003,152.104,0.003,104.112,0.003,104.112z"></path> <path style="fill:#F60A53;" d="M0.003,56.121c150.464,0,271.672,121.758,271.672,271.955v39.993l-7.513,39.993l-39.507-31.995 v-47.992c0-123.691-101.354-223.962-224.652-223.962C0.003,104.113,0.003,56.121,0.003,56.121z"></path> <path style="fill:#960ECB;" d="M0.003,56.121c150.464,0,271.672,121.758,271.672,271.955v39.993l48.036-47.994 C315.464,147.069,173.455,8.129,0.003,8.129V56.121z"></path> <path style="fill:#DDDDDD;" d="M363.822,312.148c-7.608-0.289-14.996,0.391-22.134,1.778c42.727,8.382,76.116,49.854,77.808,94.371 c2.077,54.715-41.661,103.7-95.913,103.7h36.5c54.252,0,97.991-48.986,95.913-103.7 C454.118,358.888,413.232,314.025,363.822,312.148z"></path> <path d="M423.909,408.554h-15.673c0-27.167-21.622-48.646-47.744-48.646v-15.673C394.972,344.234,423.909,373.028,423.909,408.554z"></path> <rect x="408.553" y="425.27" width="15.673" height="14.628"></rect> <path d="M463.825,404.025c-0.982-25.878-11.832-50.437-30.551-69.156c-18.718-18.719-43.278-29.568-69.156-30.552 c-12.687-0.481-25.077,1.295-36.732,5.147c-4.576-81.886-39.212-158.194-98.246-215.846C167.515,33.436,86.139,0.291,0.003,0.291 v15.673c82.019,0,159.505,31.56,218.187,88.866c57.565,56.217,90.763,131.062,93.809,211.159 c-8.634,4.525-16.681,10.307-23.915,17.272c-2.869,2.763-5.546,5.666-8.049,8.682v-13.869 c0-154.277-125.622-279.792-280.031-279.792v15.673c145.768,0,264.358,118.483,264.358,264.118v39.591 c-3.234,7.663-5.531,15.721-6.834,24.042c-6.75-8.251-15.529-14.774-25.558-18.832v-44.801 c0-127.814-104.06-231.799-231.966-231.799v15.673c119.265,0,216.293,96.953,216.293,216.125v40.696 c-2.683-0.346-5.413-0.541-8.189-0.541c-8.564,0-16.734,1.706-24.203,4.779v-44.935c0-101.351-82.497-183.807-183.901-183.807 v15.673c92.76,0,168.228,75.424,168.228,168.133v54.199c-14.587,11.708-23.951,29.669-23.951,49.785v20.453 c-0.816,8.46-3.822,16.289-8.441,22.915V328.075c0-74.812-60.604-135.676-135.836-135.676v15.673 c65.828,0,120.163,53.833,120.163,120.003v161.72c-7.086,4.076-15.294,6.415-24.04,6.415H64.132v15.673h295.95 c28.48,0,55.045-11.302,74.801-31.824C454.63,459.547,464.909,432.544,463.825,404.025z M423.592,469.188 c-16.776,17.425-39.331,27.021-63.51,27.021H138.06c13.541-11.753,22.117-29.083,22.117-48.378v-18.95l-0.13,0.13 c1.579-25.137,22.531-45.106,48.059-45.106c26.552,0,48.154,21.602,48.154,48.154h15.673v-23.997 c0-24.179,9.596-46.734,27.02-63.509c17.415-16.765,40.355-25.491,64.57-24.574c21.917,0.832,42.751,10.056,58.668,25.972 c15.916,15.916,25.14,36.751,25.972,58.669C449.083,428.843,440.357,451.774,423.592,469.188z"></path> <polygon style="fill:#B62F78;" points="343.772,72.099 328.099,72.099 328.099,55.381 312.426,55.381 312.426,72.099 296.752,72.099 296.752,87.772 312.426,87.772 312.426,104.491 328.099,104.491 328.099,87.772 343.772,87.772 "></polygon> <g> <rect x="432.585" y="233.01" style="fill:#FE702D;" width="15.673" height="47.02"></rect> <polygon style="fill:#FE702D;" points="464.98,248.686 448.262,248.686 448.262,233.012 432.588,233.012 432.588,248.686 416.915,248.686 416.915,264.359 432.588,264.359 432.588,280.033 448.262,280.033 448.262,264.359 464.98,264.359 "></polygon> </g> <polygon style="fill:#00BA94;" points="72.101,360.489 55.382,360.489 55.382,343.771 39.709,343.771 39.709,360.489 24.036,360.489 24.036,376.163 39.709,376.163 39.709,392.881 55.382,392.881 55.382,376.163 72.101,376.163 "></polygon> <polygon style="fill:#91E713;" points="512,15.675 495.282,15.675 495.282,0.002 479.608,0.002 479.608,15.675 463.935,15.675 463.935,31.348 479.608,31.348 479.608,48.067 495.282,48.067 495.282,31.348 512,31.348 "></polygon> <rect x="343.769" y="152.554" style="fill:#00BA94;" width="16.718" height="15.673"></rect> <rect x="360.488" y="168.227" style="fill:#91E713;" width="15.673" height="15.673"></rect> <rect x="448.258" y="104.489" style="fill:#B62F78;" width="15.673" height="15.673"></rect> <rect x="463.932" y="183.9" style="fill:#91E713;" width="15.673" height="15.673"></rect> <rect x="248.684" y="15.673" style="fill:#FE702D;" width="15.673" height="15.673"></rect> <rect x="264.358" y="0.002" style="fill:#00BA94;" width="15.673" height="15.673"></rect> <rect x="224.652" y="55.379" style="fill:#B62F78;" width="15.673" height="15.673"></rect> <rect x="384.52" y="39.705" style="fill:#FE702D;" width="15.673" height="15.673"></rect> <rect x="479.605" y="471.246" style="fill:#00BA94;" width="16.718" height="15.673"></rect> <rect x="22.988" y="280.03" style="fill:#FE702D;" width="16.718" height="15.673"></rect> <rect x="39.706" y="296.749" style="fill:#B62F78;" width="15.673" height="15.673"></rect> <rect x="97.175" y="360.487" style="fill:#B2E763;" width="15.673" height="15.673"></rect> <rect x="0.003" y="496.323" style="fill:#FE702D;" width="15.673" height="15.673"></rect> <rect x="63.738" y="432.585" style="fill:#B62F78;" width="16.718" height="15.673"></rect> </g></svg>`,
  },
  {
    label: "สื่อต่างๆ",
    href: "#design",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier">
    <polygon style="fill:#FFFFFF;" points="478.609,144.696 478.609,111.304 411.826,111.304 411.826,144.696 378.435,144.696 378.435,0 378.435,0 378.435,0 0,0 0,0 0,0 0,512 378.435,512 378.435,311.652 411.826,311.652 411.826,278.261 445.217,278.261 445.217,244.87 478.609,244.87 478.609,211.478 512,211.478 512,144.696 "></polygon> <polygon style="fill:#FFDAAA;" points="478.609,144.696 478.609,111.304 411.826,111.304 411.826,144.696 378.435,144.696 378.435,178.087 345.043,178.087 345.043,211.478 311.652,211.478 311.652,244.87 278.261,244.87 278.261,278.261 244.87,278.261 244.87,311.652 211.478,311.652 211.478,345.043 178.087,345.043 178.087,445.217 278.261,445.217 278.261,411.826 311.652,411.826 311.652,378.435 345.043,378.435 345.043,345.043 378.435,345.043 378.435,311.652 411.826,311.652 411.826,278.261 445.217,278.261 445.217,244.87 478.609,244.87 478.609,211.478 512,211.478 512,144.696 "></polygon> <polygon style="fill:#FF9811;" points="478.609,144.696 478.609,111.304 411.826,111.304 411.826,144.696 378.435,144.696 378.435,178.087 345.043,178.087 345.043,211.478 311.652,211.478 311.652,244.87 278.261,244.87 278.261,278.261 244.87,278.261 244.87,311.652 211.478,311.652 211.478,345.043 244.87,345.043 244.87,378.435 278.261,378.435 278.261,411.826 311.652,411.826 311.652,378.435 345.043,378.435 345.043,345.043 378.435,345.043 378.435,311.652 411.826,311.652 411.826,278.261 445.217,278.261 445.217,244.87 478.609,244.87 478.609,211.478 512,211.478 512,144.696 "></polygon> <polygon style="fill:#FFFFFF;" points="478.609,144.696 478.609,111.304 411.826,111.304 411.826,178.087 445.217,178.087 445.217,211.478 512,211.478 512,144.696 "></polygon> <polygon points="378.435,311.652 345.043,311.652 345.043,345.043 311.652,345.043 311.652,378.435 345.043,378.435 345.043,478.609 33.391,478.609 33.391,33.391 345.043,33.391 345.043,211.478 311.652,211.478 311.652,244.87 345.043,244.87 345.043,211.478 378.435,211.478 378.435,211.478 378.435,211.478 378.435,178.087 411.826,178.087 411.826,144.696 378.435,144.696 378.435,0 378.435,0 378.435,0 0,0 0,0 0,0 0,512 378.435,512 378.435,311.652 "></polygon> <rect x="77.913" y="77.913" width="222.609" height="33.391"></rect> <rect x="77.913" y="155.826" width="222.609" height="33.391"></rect> <rect x="378.435" y="278.261" width="33.391" height="33.391"></rect> <rect x="411.826" y="244.87" width="33.391" height="33.391"></rect> <rect x="445.217" y="211.478" width="33.391" height="33.391"></rect> <rect x="478.609" y="144.696" width="33.391" height="66.783"></rect> <rect x="211.478" y="311.652" width="33.391" height="33.391"></rect> <rect x="244.87" y="278.261" width="33.391" height="33.391"></rect> <rect x="278.261" y="244.87" width="33.391" height="33.391"></rect> <rect x="411.826" y="111.304" width="66.783" height="33.391"></rect> <polygon points="178.087,411.826 77.913,411.826 77.913,445.217 278.261,445.217 278.261,411.826 311.652,411.826 311.652,378.435 278.261,378.435 278.261,411.826 211.478,411.826 211.478,345.043 178.087,345.043 "></polygon> </g></svg>`,
  },
  {
    label: "งานเสื้อผ้า",
    href: "#projects",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g
    <g id="SVGRepo_iconCarrier">
    <path style="fill:#F60A53;" d="M183.606,31.865c0,39.789,32.431,72.044,72.22,72.044s72.22-32.255,72.22-72.044V7.334h-144.44 L183.606,31.865L183.606,31.865z"></path> <path style="fill:#B62F78;" d="M231.753,31.865V7.334h-48.147v24.531c0,39.788,32.43,72.044,72.219,72.044 c8.434,0,16.464-1.524,23.985-4.188C251.849,89.821,231.753,63.219,231.753,31.865z"></path> <rect x="231.983" y="7.85" style="fill:#FFFFFF;" width="48.029" height="48.029"></rect> <path style="fill:#FBB516;" d="M440.112,504.15V143.932l0,0c-35.368,0-64.039-28.671-64.039-64.039V7.85h-48.029v24.015 c0,41.376-34.879,74.604-76.84,71.888c-38.291-2.479-67.248-35.984-67.248-74.356V7.85l0,0h-48.029v72.044 c0,35.368-28.671,64.039-64.039,64.039l0,0v360.218h368.225V504.15z"></path> <path style="fill:#91E713;" d="M71.89,167.947l52.267-30.489c27.871-16.258,61.338-19.904,92.055-10.031l116.35,37.398 c37.062,11.913,77.643,4.03,107.55-20.892l0,0V504.15H71.89V167.947z"></path> <path style="fill:#FE702D;" d="M71.89,504.15V223.981l39.076-28.419c30.736-22.354,70.376-28.488,106.431-16.469l141.797,47.266 c26.405,8.801,55.077,7.959,80.92-2.378l0,0v280.17L71.89,504.15L71.89,504.15z"></path> <path style="fill:#F60A53;" d="M71.89,504.15V336.048l0,0c35.849,10.243,74.309,5.68,106.767-12.665l85.003-48.045 c31.06-17.556,67.673-22.518,102.285-13.866l74.168,18.543v224.136H71.89V504.15z"></path> <circle style="fill:#FFFFFF;" cx="256.004" cy="288.021" r="112.066"></circle> <path style="fill:#A645CB;" d="M71.89,504.15v-80.049l0,0c40.635-25.397,90.357-31.714,136.051-17.284l11.243,3.55 c43.854,13.848,91.511,8.612,131.31-14.43l89.62-51.885v160.097H71.89V504.15z"></path> <rect x="71.885" y="480.136" style="fill:#FBB516;" width="368.227" height="24.015"></rect> <path d="M312.346,0.007H200.353v15.7h24.073v47.1h62.8v-47.1h25.12V0.007z M271.526,47.107h-31.4v-31.4h31.4V47.107z"></path> <path d="M256,407.937c-66.123,0-119.917-53.795-119.917-119.917S189.877,168.103,256,168.103 c66.124,0,119.918,53.794,119.918,119.917S322.124,407.937,256,407.937z M256,183.802c-57.465,0-104.217,46.751-104.217,104.217 S198.535,392.236,256,392.236c57.466,0,104.218-46.752,104.218-104.217S313.466,183.802,256,183.802z"></path> <path style="fill:#FBB516;" d="M256,192.116c-52.881,0-95.903,43.022-95.903,95.903s43.022,95.903,95.903,95.903 s95.904-43.022,95.904-95.903S308.882,192.116,256,192.116z M336.204,288.02c0,19.577-7.06,37.529-18.755,51.469l-54.296-53.711 v-77.626C304.037,211.785,336.204,246.208,336.204,288.02z M247.453,367.762c-16.241-1.729-31.044-8.327-42.929-18.301 l42.929-43.401V367.762z M263.153,307.863l43.081,42.616c-12.013,9.681-26.856,15.967-43.081,17.409L263.153,307.863 L263.153,307.863z M247.453,208.277v75.458l-53.917,54.51c-11.083-13.757-17.739-31.225-17.739-50.225 C175.797,246.683,207.234,212.559,247.453,208.277z"></path> <rect x="112.433" y="472.056" style="fill:#FFFFFF;" width="23.027" height="15.7"></rect> <path d="M440.111,136.082c-30.983,0-56.189-25.206-56.189-56.189V0h-63.729v31.865c0,17.936-7.21,34.572-20.302,46.845 c-13.082,12.263-30.191,18.369-48.179,17.21c-33.592-2.175-59.905-31.396-59.905-66.523V0h-63.729v79.893 c0,30.982-25.206,56.189-56.189,56.189h-7.85V512h383.923V136.082H440.111z M79.74,496.3v-8.548h24.32v-15.7H79.74V151.356 c35.961-3.922,64.039-34.475,64.039-71.463V15.7h32.329v13.697c0,43.38,32.765,79.482,74.592,82.19 c22.353,1.445,43.647-6.161,59.93-21.423c16.057-15.051,25.266-36.3,25.266-58.299V15.7h32.329v64.193 c0,36.988,28.077,67.541,64.039,71.463v320.696H142.786v15.7h289.475v8.548H79.74z"></path> </g></svg>`,
  },
  {
    label: "WEB",
    href: "#WEB",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier"> 
    <polygon style="fill:#004FAC;" points="478.609,55.652 478.609,55.652 478.609,22.261 33.391,22.261 33.391,55.652 33.391,55.652 0,55.652 0,456.348 33.391,456.348 33.391,489.739 478.609,489.739 478.609,456.348 512,456.348 512,55.652 "></polygon> <polygon style="fill:#FFFFFF;" points="512,155.826 0,155.826 0,456.348 33.391,456.348 33.391,489.739 478.609,489.739 478.609,456.348 512,456.348 "></polygon> <polygon points="478.609,55.652 478.609,155.826 33.391,155.826 33.391,55.652 0,55.652 0,456.348 33.391,456.348 33.391,189.217 478.609,189.217 478.609,456.348 512,456.348 512,55.652 "></polygon> <rect x="33.391" y="22.261" width="445.217" height="33.391"></rect> <rect x="33.391" y="456.348" width="445.217" height="33.391"></rect> <rect x="411.826" y="89.043" style="fill:#A5001E;" width="33.391" height="33.391"></rect> <rect x="345.043" y="89.043" style="fill:#00CCB3;" width="33.391" height="33.391"></rect> <rect x="77.913" y="233.739" width="356.174" height="33.391"></rect> <rect x="77.913" y="311.652" width="178.087" height="33.391"></rect> </g></svg>`,
  },
  {
    label: "ติดต่อ",
    href: "#contact",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier">
    <polygon style="fill:#F60A53;" points="89.043,0 89.043,33.391 55.652,33.391 55.652,66.783 22.261,66.783 22.261,100.174 55.652,100.174 55.652,133.565 89.043,133.565 89.043,200.348 55.652,200.348 55.652,233.739 22.261,233.739 22.261,267.13 55.652,267.13 55.652,300.522 89.043,300.522 89.043,378.435 55.652,378.435 55.652,411.826 22.261,411.826 22.261,445.217 55.652,445.217 55.652,478.609 89.043,478.609 89.043,512 489.739,512 489.739,0 "></polygon> <rect x="289.391" style="fill:#A5001E;" width="200.348" height="512"></rect> <g> <polygon style="fill:#FFDA44;" points="55.652,33.391 55.652,66.783 22.261,66.783 22.261,100.174 55.652,100.174 55.652,133.565 122.435,133.565 122.435,33.391 "></polygon> <polygon style="fill:#FFDA44;" points="55.652,200.348 55.652,233.739 22.261,233.739 22.261,267.13 55.652,267.13 55.652,300.522 122.435,300.522 122.435,200.348 "></polygon> <polygon style="fill:#FFDA44;" points="55.652,378.435 55.652,411.826 22.261,411.826 22.261,445.217 55.652,445.217 55.652,478.609 122.435,478.609 122.435,378.435 "></polygon> </g> <path d="M89.043,0v33.391H55.652v33.391h33.391v33.391H55.652v33.391h33.391v66.783H55.652v33.391h33.391v33.391H55.652v33.391 h33.391v77.913H55.652v33.391h33.391v33.391H55.652v33.391h33.391V512h400.696V0H89.043z M456.348,478.609H122.435V33.391h333.913 V478.609z"></path> <rect x="22.261" y="66.783" width="33.391" height="33.391"></rect> <rect x="22.261" y="233.739" width="33.391" height="33.391"></rect> <rect x="22.261" y="411.826" width="33.391" height="33.391"></rect> <polygon style="fill:#FFDA44;" points="356.174,133.565 356.174,100.174 222.609,100.174 222.609,133.565 189.217,133.565 189.217,267.13 222.609,267.13 222.609,300.522 256,300.522 256,333.913 222.609,333.913 222.609,367.304 189.217,367.304 189.217,411.826 389.565,411.826 389.565,367.304 356.174,367.304 356.174,333.913 322.783,333.913 322.783,300.522 356.174,300.522 356.174,267.13 389.565,267.13 389.565,133.565 "></polygon> </g></svg>`,
  },
];
---

<div class="flex justify-center w-full">
  <nav
    class="fixed flex left-0 right-0 z-[100] bg-[#1414149c] border border-1 border-[var(--white-icon-tr)] backdrop-blur-xl transition-all md:top-0 md:bottom-auto bottom-0 md:w-[37rem] rounded-t-2xl md:rounded-full md:mt-6 md:justify-self-center"
  >
    <div class="container mx-auto flex justify-center items-center p-3">
      <ul
        class="flex w-full justify-between md:space-x-6 md:justify-center md:gap-12 gap-6"
      >
        {
          navItems.map((item) => (
            <li class="flex-1 md:flex-none">
              <a
                href={item.href}
                class="flex flex-col items-center gap-1 text-[var(--white-icon)] transition-colors text-xs md:text-base"
              >
                <span class="md:hidden flex items-center justify-center w-6 h-6">
                  <fragment set:html={item.icon} />
                </span>
                <span class="hidden md:inline-block">{item.label}</span>
                <span class="md:hidden">{item.label}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</div>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();
      const target = e.currentTarget as HTMLAnchorElement;
      const targetId = target.getAttribute("href")?.substring(1) || "";
      const targetElement = document.getElementById(targetId);
      if (targetElement) {
        targetElement.scrollIntoView({
          behavior: "smooth",
        });
      }
    });
  });

  document.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll("section[id]");
    const navLinks = document.querySelectorAll("nav a[href^='#']");
    const observerOptions = { threshold: 0.6 };

    const observerCallback = (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navLinks.forEach((link) => link.classList.remove("active"));
          const id = entry.target.getAttribute("id");
          const activeLink = document.querySelector(`nav a[href="#${id}"]`);
          if (activeLink) {
            activeLink.classList.add("active");
          }
        }
      });
    };

    const observer = new IntersectionObserver(
      observerCallback,
      observerOptions
    );
    sections.forEach((section) => observer.observe(section));
  });
</script>

<style>
  @media (max-width: 767px) {
    body {
      padding-bottom: 70px;
    }
  }

  nav a.active {
    color: white !important;
  }
</style>
